.body {
  display: flex;
  flex-direction: column;
  background-color: #42D1DB;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 5px;
  text-align: left;
}

/* Блок "header" */
.header {
  color: #0a18b7;
  text-align: left;

}
.main{
  display: flex;
}


/* Блок "heading" */
.heading {
  font-size: 1.875rem;
  margin-bottom: 20px;

}

/* Блок "navigation" */
.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #0b3db0;
  padding: 10px;
}

/* Элемент "navigation__item" внутри блока "navigation" */
.navigation__item {
  display: inline;
  margin-right: 20px;
}

/* Блок "paragraph" */
.paragraph {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Блок "heading2" */
.heading2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

/* Блок "code" */
.code {
  font-family: Consolas, monospace;
  background-color: #42D1DB;
  padding: 5px;
  line-height: 1.3;
  font-weight: bold;
}

/* Блок "preformatted" */
.preformatted {
  justify-content: flex-start;
  color: #0e6085;
  padding: 10px;
}

/* Блок "blockquote" */
.blockquote {
  background-color: #6CF5B7;
  padding: 10px;
  margin: 20px 0;
}

/* Элемент "superscript" внутри блока "paragraph" */
.superscript {
  font-size: smaller;
  vertical-align: super;
}

/* Элемент "emphasis" внутри блока "paragraph" */
.emphasis {
  font-style: italic;
  color: #092326;
}

/* Элемент "deleted" внутри блока "paragraph" */
.deleted {
  text-decoration: line-through;
  color: #666;
}

/* Элемент "inserted" внутри блока "paragraph" */
.inserted {
  text-decoration: underline;
  color: #009900;
}

/* Блок "footer" */
.footer {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: #333;
  color: #fff;
  padding: 21px 0;
}

.my_p{
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-color: #42D1DB;
  color: #333;
  margin: 10px 20px ;
  white-space: pre;
  font-style: italic;
  text-decoration: underline line-through;
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-indent: 20px;
}

img {
  width: 200px;
  height: auto;
  border: 2px solid #ccc;
  margin: 10px;
  box-shadow: 5px 5px 5px #888;
}

/* Галерея стилей */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.horizontal-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.vertical-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стили для изображений */
.gallery img {
  max-width: 100%;
  height: auto;
  margin: 5px;
}

/* Скрываем ASCII-арт при разрешении в 768 пикселей и меньше */
@media screen and (max-width: 500px) {
  .horizontal-row {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .preformatted {
    display: none;
  }
}

.table-container {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Адаптивные колонки */
  gap: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.table-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #333;
  color: #fff;
  padding: 5px;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
}

/* Стили для четных и нечетных строк */
.table-row:nth-child(odd) {
  background-color: #d30e0e; /* Четные строки */
}

.table-row:nth-child(even) {
  background-color: #3485ee; /* Нечетные строки */
}

.footer_load_time{
  text-align: left;
}

.header__nav .navigation__list ul li a.active{

}
.header__nav .navigation__list ul li.active a{
  color: rgb(255, 255, 255);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  background-color: #0b3db0;
  padding: 10px;
}

.navigation__list li.active {

  background-color: #115af5;
  color: #fff;
}

.news-article {
  background-color: #2f7fec;
  border: 1px solid #0a18b7;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(2, 2, 2);
}

.news-title {
  font-size: 1.5rem;
  margin-top: 0;
  color: #020202;
}

.news-date {
  font-size: 0.9rem;
  color: #ffffff;
}

.news-content {
  font-size: 1rem;
  color: #020202;
}


.navigation__list {
  display: flex;
  list-style: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем внутренний отступ */
}

.navigation__list li {
  margin-right: 10px; /* Добавляем небольшой отступ между элементами */
}


.navigation__list li a {
  text-decoration: none;
  color: white;
}

.Gallery{
  color: red;
}


table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
    minmax(150px, 1.67fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}

tr:nth-child(even) td {
  background: #9f53dc;
}
tr:nth-child(odd) td {
  background: #582eec;
}

.navigation_item:hover {
  background-color: #09bdbd;
}

 a {
  font-size: 2.5vh;
  line-height: 4.8vh;
}

.navigation__list li.active {
  background-color: #115af5;
  color: #fff;
}


.swiper {
  width: 60vh;
  height: 40vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}



